* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Dit stuk fixed het feit dat de linear-gradient zich herhaalt */
html {
    min-height: 100%;
}
body {
    background: linear-gradient(180deg, #FFFFFF 0%, #6284FF 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home {
    margin: 1% 15%;
    
}
.left {
    float: left;
    text-align: left;
    padding-left: 30px;
}
.right {
    float: right;
    text-align: right;
    padding-right: 15px;
}

.text-button {
    font-weight: bold;
}

.text-button:hover,
.text-button:focus {
    cursor: pointer;
    color: rgb(255, 116, 116);
    /* Dit zorgt ervoor dat je muis een pointer krijgt */
}

/* Hieronder is de vormgeving van de Loginbox te zien */
.login {
    background: #ffffff;
    width: 410px;
    margin-top: 11%;
    padding: 20px 30px;
    /* verplaatsing voor de tekst IN een 'box' en bij margin is er verplaatsing van de hele webpagina */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /* hier maak je de zijlijnen van de 'box' zichtbaar doormiddel van het gebruiken van schaduwen */
    border-radius: 5px;
}

/* Dit is het kopje 'login' in de loginbox en het kopje 'registreer'in de Registreerbox*/
.kopje-text {
    font-size: 35px;
    font-weight: 30;
    /* Dit is de dikgedruktheid van het kopje */
    text-align: center;
    margin-bottom: 20px;
    /* Voor meer afstand tussen de omringende factoren */

}

.registervierkant {
    background: #ffffff;
    width: 410px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px 30px;
    /* verplaatsing voor de tekst IN een 'box' en bij margin is er verplaatsing van de hele webpagina */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /* hier maak je de zijlijnen van de 'box' zichtbaar doormiddel van het gebruiken van schaduwen */
    border-radius: 5px;
    /* Dit maakt de hoeken van de box een beetje rond */
}

/* Dit zijn de vakjes waarin de Emails en Wachtwoorden worden ingevuld */
form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    font-size: 17px;
    border: 1px solid rgb(179, 138, 138);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Voor meer afstand tussen de omringende factoren */
    margin-top: 10px;
    margin-bottom: 10px;
}

.box button {
    background-color: white;
    border-color: silver;
    color: black;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.box button:hover {
    background-color: silver;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

/* ALLE CSS VAN HET DASHBOARD */
/* Een achtergrondkleur voor de taakbalk */
.taskbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.imgHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.imgHome:hover {
    content:url("/static/images/Favicon.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/* Hiermee veranderd de kleur als je met je muis over het vakje gaat*/
.taskbar:hover {
    background-color: whitesmoke;
    color: black
}



/* Dit is het venstertje wat opkomt als je op de '+' klikt om een post aan te maken */
.modal {
    /* Hierdoor hoft het geen rekening te houden met omringende factoren etc. */
    display: none;
    /* Hiermee wordt het relatief gepositioneerd */
    position: fixed;
    /* Dit zorgt ervoor dat het geopende venstertje 'bovenop' alles komt */
    z-index: 1;
    /* onderstaande elementen zijn voor de positionering van het venstertje */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Dit maakt het mogelijk om te scrollen in het venstertje als je text bijrbeeld zo groot is dat het niet volledig is te zien in het venstertje */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Dit is de achtergrondkleur vand e pagina zodra het venstertje opent */
}

/* Dit is de CSS van het venstertje zelf, dus wat er aan de binnenkant afspeelt */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 45%;
    border-radius: 30px;
}

/* Dit is de CSS van het textvakje */
.modal-content textarea {
    font-family: Arial;
    resize: none;
    /*Dit zorgt ervoor dat je de grootte van het tekstvak niet kunt veranderen via de site */
    height: 220px;
    width: 99%;
    margin-left: 0.5%;
    padding: 15px;
    border-radius: 30px;
}

/* Dit is de CSS van het kruisje waarmee het venster gesloten kan worden */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    /* Dit zorgt ervoor dat je muis een pointer krijgt */
}

.buttoninpost {
    float: right;
    color: black;
    background-color: #cdebf9;
    border-color: #cdebf9;
    text-align: center;
    margin: 3% 3px;
    padding: 6px 20px;
    height: 38px;
    width: 87px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
}

.knop{
    float: left;
    color: #000;
    text-align: center;
    margin: 3% 2px;
    padding: 6px 20px;
    height: 35px;
    width: 55px;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 15px;
}

.B-knop {
    font-weight: bold;
}

.I-knop {
    font-style: italic;
}

.U-knop {
    text-decoration: underline;
}

.buttoninpost:hover {
    background-color: whitesmoke;
}

/* De CSS van de fake posts */
.post-tot {
    /*font-family: Arial;*/
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.post {
    font-family: Arial;
    background-color: white;
    font-weight: bold;
    /*Dit zorgt ervoor dat je de grootte van het tekstvak niet kunt veranderen via de site */
    padding: 30px;
    border-radius: 20px;
}

/*ALLE CSS VAN DE ACCOUNT PAGINA*/
.container-account {
    background: #fff;
    width: 540px;
    height: 458px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

.leftbox {
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: linear-gradient(180deg, #FFFFFF 0%, #6284FF 100%);
    ;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
    border-style: solid;
}

nav a-account {
    list-style: none;
    padding: 20px;
    color: gray;
    font-size: 2.0em;
    display: block;
    transition: all 0.5s ease-in-out;
}

nav a-account:hover {
    color: blanchedalmond;
    cursor: pointer;
    transform: scale(1.2);
}

nav a-account:first-child {
    margin-top: 7px;
}

nav a-account.active {
    color: black;
}

.rightbox-account {
    width: 60%;
    margin-left: 27%;
    padding: 5px;
}

.tabShow {
    transition: all 2s ease-in;
    width: 80%;
    position: absolute;
}

h1 {
    font-size: 1.4rem;
    margin-top: 40px;
    /* margin-bottom: 35px; */
}

h2 {
    font-size: 12px;
    margin-left: 2px;
    margin-top: 25px;
}

input {
    border: 0;
    border-bottom: 1px solid;
    width: 85%;
    font-size: .7em;
    padding: 2px 0;
    color: #070707;
    outline: none;
}

.privacybeleid {
    font-size: 14px;
    width: 85%;
}

span {
    font-size: .7em;
    color: #777;
}
.submitbox {
    display: flex;
    /* Voor meer afstand tussen de omringende factoren */
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitbox button {
    background-color: white;
    border-color: silver;
    color: black;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.submitbox button:hover {
    background-color: silver;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.tabShow {
    display: none;
}

.buttonright{
    border-color: #cdebf9;
    border: 0;
    border-radius: 15px;
    color: black;
    background: #cdebf9;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 105px;
}

.buttonpost {
    padding: 20px 35px;
    font-size: 18px;
    border-radius: 15px;
    bottom: 150px;

}
/* Hieronder is de button gemaakt die op de homepage rechtsonder zichtbaar is, genaamd account*/
.butaccount {
    font-size: 15px;
    padding: 21px 21px;
    bottom: 80px;
}

.butlogout {
    font-size: 15px;
    padding: 21px 21px;
    bottom: 10px;
}

.Welkom {
    text-align: center;
    margin-top: 100px;
}