{% extends "base.html" %}{% block title %}Meta - account{% endblock %} {% block
content %}
<div class="header">
  <div class="container">
    <div class="container-account">
      <div class="leftbox">
        <nav>
          <a-account onclick="tabs(0)" class="tab active">
            <i class="fa fa-user"></i>
          </a-account>
          <a-account onclick="tabs(1)" class="tab">
            <i class="fas fa-address-card"></i>
          </a-account>
          <a-account onclick="tabs(2)" class="tab">
            <i class="fas fa-info-circle"></i>
          </a-account>
          <a-account onclick="tabs(3)" class="tab">
            <i class="fas fa-key"></i>
          </a-account>
        </nav>
      </div>
      <div class="rightbox-account">
        <div class="profile tabShow">
          <h1>Persoons informatie</h1>
          <h2>Voornaam</h2>
          <input
            type="text"
            class="input"
            value="{{current_user.first_name}}"
          />
          <h2>Achternaam</h2>
          <input type="text" class="input" value="{{current_user.last_name}}" />
          <h2>Geboortedatum</h2>
          <input
            type="date"
            class="input"
            value="{{current_user.birth_date.strftime('%Y-%m-%d')}}"
          />
          <button class="update">Update</button>
        </div>

        <div class="settings tabShow">
          <h1>Inloggegevens</h1>
          <h2>Gebruikersnaam</h2>
          <input type="text" class="input" value="{{current_user.user_name}}" />
          <h2>Emailadres</h2>
          <input type="text" class="input" value="{{current_user.email}}" />
          <h2>Wachtwoord</h2>
          <input dissable type="password" class="input" value="********" />
          <button class="update">Update</button>
        </div>
        <div class="privacy tabShow">
          <h1>Informatie over privacy van Meta</h1>
          <h4>Belangrijk</h4>
          <p style="margin-right: 50px">
            Wij verwerken en gebruiken uw gegevens om het contract uit te voeren
            en onze diensten te verlenen, om onze diensten en onze websites te
            verbeteren en aan te passen aan uw behoeften, om updates en upgrades
            te leveren, om u kennisgevingen betreffende de dienst te sturen, en
            om u te factureren en onze vorderingen te innen. Artikel 6, I,
            letter a van de AVG dient voor ons als rechtsgrondslag voor de
            verwerkingshandelingen in het kader waarvan wij toestemming vragen
            voor een specifiek verwerkingsdoel. Als de verwerking van
            persoonlijke gegevens noodzakelijk is voor de uitvoering van een
            overeenkomst, is de verwerking gebaseerd op artikel 6, I, letter b
            van de AVG. Hetzelfde geldt voor verwerkingsprocessen die nodig zijn
            voor de uitvoering van precontractuele maatregelen, bijvoorbeeld bij
            vragen over onze producten of diensten.
          </p>
        </div>
        <div class="password tabShow">
          <div id="password">
            <form method="POST">
              <h1>Wachtwoord veranderen</h1>
              <div class="data">
                <label for="password_old"><h2>Oud wachtwoord</h2></label>
                <!--Hieronder moet je je oude wachtwoord invullen-->
                <input
                  type="password"
                  id="password_old"
                  name="password_old"
                  class="input"
                  placeholder="Oud wachtwoord"
                  required
                />
              </div>
              <div class="data">
                <label for="password_new1"><h2>Nieuw wachtwoord</h2></label>
                <!--Hieronder moet je je nieuwe wachtwoord invullen-->
                <input
                  type="password"
                  id="password_new1"
                  name="password_new1"
                  class="input"
                  placeholder="Nieuw wachtwoord"
                  required
                />
              </div>
              <div class="data">
                <label for="password_new2"
                  ><h2>Herhaal nieuw wachtwoord</h2></label
                >
                <!--Hieronder moet je je nieuwe wachtwoord opnieuw invullen-->
                <input
                  type="password"
                  id="password_new2"
                  name="password_new2"
                  class="input"
                  placeholder="Herhaal nieuw wachtwoord"
                  required
                />
              </div>
              <div class="submitbox">
                <button type="submit" class="btn btn-primary">
                  Maak nieuw wachtwoord
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Hier wordt er aangegeven dat het aankomende stukje is geschreven in JavaScript -->
      <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"
      ></script>
      <script>
        const tabBtn = document.querySelectorAll(".tab");
        const tab = document.querySelectorAll(".tabShow");

        function tabs(panelIndex) {
          tab.forEach(function (node) {
            node.style.display = "none";
          });
          tab[panelIndex].style.display = "block";
        }
        tabs(0);
      </script>
      <script>
        $(".tab").click(function () {
          $(this).addClass("active").siblings().removeClass("active");
        });
      </script>
    </div>
  </div>
</div>
{% endblock %}
