{% extends "base.html" %}{% block title %}Meta - Forgot password{% endblock %} {% block
content %}
<div class="center">
  <div class="container login">
    <!--Hieronde wordt de titel "Login" gegeven en word de email class gemaakt. Deze hebben vereisten-->
    <div class="kopje-text">Forgot password</div>
    <form method="POST">
      <div class="data">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="voorbeeld@voorbeeld.nl"
          required
        />
      </div>
      <div class="box">
        <button type="submit" class="btn btn-primary">Go change your password</button>
      </div>
    </form>
    </div>
    <br />
  </div>
</div>
{% endblock %}
