{% extends "base.html" %}{% block title %}Meta{% endblock %} {% block content
  %}
    <!--Hieronder is de class waarin we onze menubalk hebben. -->

    <div class="header">
      <div class="container">
        
        <!---Hier wordt de tekst en buttons onder de taakbalk weergegeven-->

        <div>
          <h1 class="Welkom">Welkom bij Meta, {{current_user.first_name}}!</h1>
        </div>
        {% for note in user.notes %}
        <textarea disabled id="fake-post2">
          {{ note.data }}
          </textarea>
        {% endfor %}
        
        <textarea disabled id="fake-post1">
        Vanaf december kunnen 80-plussers een ‘booster’-prik krijgen, net als inwoners van zorginstellingen en zorgmedewerkers. Het gaat om een extra vaccinatie om de werking van het vaccin te versterken. Vanaf januari kunnen mensen tussen 60 en 80 jaar die krijgen, daarna iedereen die dat wil. 
        </textarea>
        <textarea disabled id="fake-post2">
        Natuurlijk, @geertwilderspvv
        Telkens een test doen kan heel vervelend zijn.
        Maar ik hoop ook op respect voor al die hartpatiënten waarvan operaties nu worden afgebeld. 
        Zij staan misschien niet te demonstreren, maar voor hen is deze nieuwe golf lood- en loodzwaar.
        </textarea>
        <textarea disabled id="fake-post3">
        Terugreis naar Utrecht Terwijde is onmogelijk. Servicepunt op Utrecht Centraal weigert alternatief vervoer te regelen. Draaien de verantwoordelijkheid om en zeggen dat ik maar op toegankelijke trein moet wachten. “Dit zijn de regels!” Hoe vinden jullie zelf dat het gaat NS? 
        </textarea>
        <!--om te testen of scrollen nu goed werkt:-->
        <textarea disabled id="fake-post-tot">
        Natuurlijk, @geertwilderspvv
        Telkens een test doen kan heel vervelend zijn.
        Maar ik hoop ook op respect voor al die hartpatiënten waarvan operaties nu worden afgebeld. 
        Zij staan misschien niet te demonstreren, maar voor hen is deze nieuwe golf lood- en loodzwaar.
        </textarea>
        <textarea disabled id="fake-post-tot">
        Natuurlijk, @geertwilderspvv
        Telkens een test doen kan heel vervelend zijn.
        Maar ik hoop ook op respect voor al die hartpatiënten waarvan operaties nu worden afgebeld. 
        Zij staan misschien niet te demonstreren, maar voor hen is deze nieuwe golf lood- en loodzwaar.
        </textarea>
        <textarea disabled id="fake-post-tot">
        Natuurlijk, @geertwilderspvv
        Telkens een test doen kan heel vervelend zijn.
        Maar ik hoop ook op respect voor al die hartpatiënten waarvan operaties nu worden afgebeld. 
        Zij staan misschien niet te demonstreren, maar voor hen is deze nieuwe golf lood- en loodzwaar.
      </textarea
        >
      </div>
      
      <button class="buttonpost" id="myBtn">+</button>
      <a id="account" href="/account"><button class="butaccount">Account</button></a>
      <a id="logout" href="/logout"><button class="butlogout">Logout</button></a>

    </div>
  </body>

  <!-- Hier wordt er aangegeven dat het aankomende stukje is geschreven in JavaScript -->
  <script>
    // Hier wordt gezegd dat het venstertje gelezen moet worden
    var modal = document.getElementById("myModal");

    // Hier wordt gezegd dat het knopje wat het venstertje moet openen gelezen moet worden
    var btn = document.getElementById("myBtn");

    // Hier wordt gezegd dat het knopje wat het venstertje moet sluiten gelezen moet worden
    var span = document.getElementsByClassName("close")[0];
    var posttekst = document.getElementById("post-tekst");

    var B_knop = document.getElementById("B-knop");
    var I_knop = document.getElementById("I-knop");
    var U_knop = document.getElementById("U-knop");

    // Hier wordt aangegeven dat het venstertje geopent moet worden zodra er op het '+' knpje wordt geklikt
    btn.onclick = function () {
      modal.style.display = "block";
    };

    // Hier wordt aangegeven dat het venstertje gesloten moet worden zodra er op het 'x' knpje wordt geklikt
    span.onclick = function () {
      modal.style.display = "none";
    };

    // Hier wordt aangegeven dat het venstertje gesloten moet worden zodra er op een plek buiten het venster wordt geklikt
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };

    B_knop.onclick = function () {
      if (posttekst.style.fontWeight == "bold") {
        posttekst.style.fontWeight = "normal";
      } else {
        posttekst.style.fontWeight = "bold";
      }
    };

    I_knop.onclick = function () {
      if (posttekst.style.fontStyle == "italic") {
        posttekst.style.fontStyle = "normal";
      } else {
        posttekst.style.fontStyle = "italic";
      }
    };

    U_knop.onclick = function () {
      if (posttekst.style.textDecoration == "underline") {
        posttekst.style.textDecoration = "none";
      } else {
        posttekst.style.textDecoration = "underline";
      }
    };
  </script>
  {% endblock %}
