{% extends "base.html" %}{% block title %}Meta - New password{% endblock %} {%
block content %}
<div class="center">
  <div class="container login">
    <!--Hieronde wordt de titel "Login" gegeven en word de email class gemaakt. Deze hebben vereisten-->
    <div class="kopje-text">Wachtwoord wijzigen</div>
    <div style="text-align: center">
      Hallo {{user.first_name}}, voer hieronder een nieuw wachtwoord in.
    </div>
    <br />
    <form method="POST">
      <div class="data">
        <label for="password_new1">Nieuw wachtwoord</label>
        <!--Hieronder moet je je nieuwe wachtwoord invullen-->
        <input
          type="password"
          id="password_new1"
          name="password_new1"
          class="form-control"
          placeholder="Nieuw wachtwoord"
          required
        />
      </div>
      <div class="data">
        <label for="password_new2">Herhaal nieuw wachtwoord</label>
        <!--Hieronder moet je je nieuwe wachtwoord opnieuw invullen-->
        <input
          type="password"
          id="password_new2"
          name="password_new2"
          class="form-control"
          placeholder="Herhaal nieuw wachtwoord"
          required
        />
      </div>

      <div class="submitbox">
        <button type="submit" class="btn btn-primary">
          Maak nieuw wachtwoord
        </button>
      </div>
    </form>
    <br />
  </div>
</div>
{% endblock %}
